@page
@model LoL1Shot.Pages.CRUD_Combo.UpdateModel
@{
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/css/buttonAnimated.css" />

<h1>Edycja combo</h1>
<div class="container">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label asp-for="combo.name" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="combo.name" class="form-control">
                <span asp-validation-for="combo.name"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="combo.actionsString" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="combo.actionsString" class="form-control">
                <span asp-validation-for="combo.actionsString"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="combo.championKey">Champion</label>
            <select asp-for="combo.championKey">
                @foreach (var c in Model.champions)
                {
                    <option value=@c.KeyName>@c.KeyName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="content">
                    <button class="btn">Zatwierdź</button>
                </div>
            </div>
        </div>
        @Html.Hidden("combo.id", Model.id)
    </form>
</div>